<div class="row">
    <div class="col-sm-12">
      <h3>
        Flight # {{ selectedLaunch.flight_number}} Details
      </h3>
      <br>
      <p>Launch Site Details: <br>
        ID: {{ selectedLaunch.launch_site.site_id}} <br>
        Name: {{ selectedLaunch.launch_site.site_name}} <br>
        Long name: {{ selectedLaunch.launch_site.site_name_long}}
      </p>
      <hr>
      <button class="btn btn-primary btn-lg" routerLink="/launches">
        <i class="fa fa-back"></i>Back to list
      </button>
    </div>
  </div>